<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yukti Solutions</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="col-lg-10 ">
    <div class="navbar navbar-expand-sm bg-danger navbar-dark">"
        <div class="container   ">
            <div class="navbar-header" ">
                @Html.ActionLink("SKILLZ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:#B70320;">
                    @Html.ActionLink("DASHBORD", "Index", "Dashbord", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("INTERVIEWS", "Index", "Interviews", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("SkILL GROUPS", "Index", "SkillGroup", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("BLOG", "Index", "Blog", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("CONTACT", "Index", "Contact", new { area = "" }, new { @class = "navbar-brand" })
                    

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020- Yukti Solutions Private Limited. All rights reserved</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>