<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title -Skillz</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

   <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body class="container">
    <nav class="navbar navbar-inverse" style="border-radius:0px 0px; background: #B70320 0% 0% no-repeat padding-box; opacity: 0.9;">
        <div class="container-fluid">
            <div class="navbar-header   ">
                @Html.ActionLink("SKILLZ", "", "", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <ul class="nav navbar-nav" style=" text-align: left; font: normal normal normal 8px/8px Arial; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                @Html.ActionLink("DASHBORD", "Index", "Dashbord", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("INTERVIEWS", "Index", "Interviews", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("SkILL GROUPS", "Index", "SkillGroups", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("BLOG", "Index", "Blog", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("CONTACT", "Index", "Contact", new { area = "" }, new { @class = "navbar-brand" })

            </ul>
            <ul class="nav navbar-nav navbar-right" style="text-align: left; font: normal normal normal 10px/12px Arial; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            </ul>
        </div>
    </nav>
    <text class="text-danger"> Dashoard /</text>
    @RenderBody()

    <hr />
    <footer class="container-fluid">
        <p class="footer">&copy; @DateTime.Now.Year - Yukti Solutions Private Limited. All Rights Reserved.</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>