@model IEnumerable<YuktiSolutionProject.Models.Interview>

@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href="~/Content/style.css" rel="stylesheet" />
<h2 class="myh2">Interviews</h2>
<script>
    $(document).ready(function () {
        $('#select_all').click(function (e) {
            $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
        });
    });
</script>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="search">
    <div class="input-group-btn">
        <i class="glyphicon glyphicon-search"></i>
        <button type="button" class="btn btn-danger" style="border-radius:20px;"><span class="glyphicon glyphicon-plus">&nbsp;</span>@Html.ActionLink("New Interview", "Create", "Interviews", new { Style = "color:#FFFFFF" }, new { @data_toggle = "modal", @data_target = "#myModal" })</button>
        <button type="button" class="btn" style="border-radius:20px;"><span class="glyphicon glyphicon-remove">&nbsp;</span>@Html.ActionLink("Delete Selected", "Delete", "Interviews", new { Style = "color:#2D2121" })</button>
        <button type="button" class="btn" style="border-radius:20px;"><span class="glyphicon glyphicon-option-vertical">&nbsp;</span>@Html.ActionLink("More Options", "", "", new { Style = "color:#2D2121" })</button>

    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<table class="table">
    <tr>

        <th>
            @Html.CheckBox("selected", new { @id="select_all"})
        </th>
        <th>
            @Html.Label("#")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssessmentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.CheckBox("selected");
            </td>
            <td>
                @ViewBag.value
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>
